// Classes
$death-knight: #c41f3b;
$demon-hunter: #a330c9;
$druid: #ff7d0a;
$hunter: #abd473;
$mage: #69ccf0;
$monk :#00ff96;
$paladin: #f58cba;
$priest: #fff;
$rogue: #fff569;
$shaman: #0070de;
$warlock: #9482c9;
$warrior: #c79c6e;

.class-color--death-knight {
    color: $death-knight!important;
}
.class-color--demon-hunter {
    color:$demon-hunter!important
}
.class-color--druid {
    color:$druid!important
}
.class-color--hunter {
    color:$hunter!important
}
.class-color--mage {
    color:$mage!important
}
.class-color--monk {
    color:$monk!important
}
.class-color--paladin {
    color:$paladin!important
}
.class-color--priest {
    color:$priest!important
}
.class-color--rogue {
    color:$rogue!important
}
.class-color--shaman {
    color:$shaman!important
}
.class-color--warlock {
    color:$warlock!important
}
.class-color--warrior {
    color:$warrior!important
}
