.text-horde {
    color:#e02929!important
}

a.text-horde:focus,a.text-horde:hover {
    color:#bb1b1b!important
}

.text-alliance{
    color:#69f!important
}

a.text-alliance:focus,a.text-alliance:hover {
    color:#37f!important
}
